# ignore "excess" files and directories
# in essence, ignore everything but *.xdk file and www, docs and plugins directories
/*
!/www
!/plugins
!/docs
!/config.xml
!/README.md
!/LICENSE.md
!/intelxdk.config.additions.xml
!/*.xdk
!/.gitignore
!/*.png